<section>
  <div class="page-header">
    <h1>Data</h1>
  </div>
  <div class="row" style="margin-bottom:1em">
    <span  class="col-xs-6 col-md-4 search-item" >
      <select class="form-control" ng-model = "vm.searchField">
        <option ng-repeat = "field in vm.aryFields" ng-value="field">{{field}}</option>
      </select>
    </span>
    <span  class="col-xs-6 col-md-4 search-item">
      <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />   
    </span>
    <span class="col-xs-6 col-md-4 search-item" >
      <button class="btn btn-primary" ng-click = "vm.searchForArticles()">
        Search
      </button>
    </span> 
  </div>

  <div class="list-group row">
    <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-if="article.user" ng-bind="article.user.displayName"></span>
        <span ng-if="!article.user">Deleted User</span>
      </small>
      <h5 class="list-group-item-heading" ng-bind="article.record"></h4>
      <p class="list-group-item-text" ng-bind="article.ordinate"></p>
      <p class="list-group-item-text" ng-bind="article.title"></p>
      <p class="list-group-item-text" ng-bind="article.genus"></p>
      <p class="list-group-item-text" ng-bind="article.species"></p>
      <p class="list-group-item-text" ng-bind="article.animal"></p>
      <p class="list-group-item-text" ng-bind="article.name"></p>
      <p class="list-group-item-text" ng-bind="article.notes"></p>
      <p class="list-group-item-text" ng-bind="article.reference"></p>
      
      
      
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.articles.$resolved && !vm.articles.length">
    No Data!, Do you want to <a ui-sref="articles.create">create one</a>?
  </div>
</section>
